1 VERSIONINFO
FILEVERSION 1,1,6,2
PRODUCTVERSION 1,1,6,2
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "cncnet.org"
            VALUE "FileDescription", "DirectDraw replacement for C&C95 and Red Alert"
            VALUE "FileVersion", "1.1.6.2"
            VALUE "InternalName", "ddraw"
            VALUE "LegalCopyright", "Copyright (c) 2010-2018"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFileName", "ddraw.dll"
            VALUE "ProductName", "DirectDraw replacement for C&C95 and Red Alert"
            VALUE "ProductVersion", "1.1.6.2"
            VALUE "Comments", "https://cncnet.org"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation",  0x0409, 0x04B0
    }
}
